html {
  font-size: 18px;
  font-family: helvetica;
}

/* NOTE: Header layout */

header {
  background-image: url(./images/glasses-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 31rem;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1024px) {
  header {
    height: 22rem;
  }
}

@media only screen and (max-width: 470px) {
  header {
    height: 17rem;
    max-width: 470px;
    background-position: 20% 0%;
  }
}

/* NOTE: Positioning of topbar and sloganbox */
.headerbox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media only screen and (max-width: 1024px) {
  .headerbox {
    width: 100%;
  }
}

@media only screen and (max-width: 470px) {
  .headerbox {
    max-width: 470px;
  }
}

/* NOTE: Topbar header */

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;
  color: white;
  width: 960px;
  height: 3rem;
  position: relative;
  top: 1rem;
}

@media only screen and (max-width: 1024px) {
  .topbar {
    width: 100%;
    height: 3rem;
    position: relative;
    top: 0rem;
  }
}

.company {
  display: flex;
  align-items: center;
}

.company img {
  height: 1.5rem;
  width: auto;
  margin-left: 2rem;
  margin-right: 1rem;
}

@media only screen and (max-width: 470px) {
  .company span {
    display: none;
  }
}

/* NOTE: Navigation bar */

.nav {
  margin-right: 1rem;
}

.nav a {
  color: white;
  text-decoration: none;
  margin: 1rem;
}

/* NOTE: Navigation bar <470px */

@media only screen and (min-width: 470px) {
  .navdropdown {
    display: none;
  }
}

@media only screen and (max-width: 470px) {
  .nav {
    display: none;
  }
  .navdropdown a{
    color: white;
    text-decoration: none;
    margin: 1rem;
  }
}

/* NOTE: Sloganbox header section */
.slogan {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.5;
  background-color: white;
  padding: 1.5rem 5rem;
  position: relative;
  top: 11rem;
  left: 2rem;
}

@media only screen and (max-width: 1024px) {
  .slogan {
    font-size: 1.33rem;
    padding: 0.75rem 4rem;
    position: relative;
    top: 5rem;
    left: -2rem;
  }
}

@media only screen and (max-width: 470px) {
  .slogan {
    font-size: 1rem;
    padding: 1rem 0rem;
    position: relative;
    top: 9rem;
    left: 0rem;
    width: 100%;
    text-align: center;
  }
}

/* NOTE: Content section layout */

.contentbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

.serviceline {
  display: flex;
  justify-content: center;
  margin: 3rem 0rem;
}

@media only screen and (max-width: 470px) {
  .serviceline {
    display: flex;
    flex-direction: column;
  }
}

.servicebox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 5rem;
  height: 8rem;
  padding: 0rem 3rem;
}

@media only screen and (max-width: 470px) {
  .servicebox {
    margin: 0.75rem;
  }
}

.servicebox h3 {
  text-align: center;
}

.servicebox1 img {
  width: 3.5rem;
}

.servicebox2 img {
  width: 5rem;
}

.servicebox3 img {
  width: 5rem;
}

.infoline {
  display: flex;
justify-content: center;
  align-items: flex-start;
  width: 960px;
}

@media only screen and (max-width: 470px) {
  .infoline {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.infobox {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: auto;
  margin: 0% 2.5%;
}

@media only screen and (max-width: 470px) {
  .infobox {
    width: 100%;
    max-width: 470px;
    margin: 0%;
  }
}

.infobox h1 {
  background-color: cadetblue;
  text-align: center;
  padding: 0.5rem;
  color: white;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* NOTE: Footer section layout */

footer {
  display: flex;
  justify-content: center;
}

.copyright {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 960px;
  background-color: azure;
  padding: 4rem;
}

.copyright img {
  height: 1.5rem;
  width: auto;
  margin-left: 2rem;
  margin-right: 1rem;
}

@media only screen and (max-width: 470px) {
  .copyright {
    max-width: 470px;
    justify-content: center;
  }
  .copyright span {
    display: none;
  }
}
